<table>
  <tr>
    <th>Name</th>
    <th>Admin</th>
  </tr>
  <tr *ngFor="let entity of entities; index as index">
    <td>
      <editable (update)="updateField(index, 'name')">
        <ng-template viewMode>{{entity.name}}</ng-template>
        <ng-template editMode>
          <input [formControl]="getControl(index, 'name')" focusable>
        </ng-template>
      </editable>
    </td>
    <td>
      <editable (update)="updateField(index, 'isAdmin')">
        <ng-template viewMode>{{entity.isAdmin}}</ng-template>
        <ng-template editMode>
          <input type="checkbox" [formControl]="getControl(index, 'isAdmin')">
        </ng-template>
      </editable>
    </td>
  </tr>
</table>
{{ controls.value | json}}